@page "/dashboard"

<Layout>
    <LayoutHeader Fixed>
        Header
    </LayoutHeader>
    <Layout Sider>
        <LayoutSider>
            <LayoutSiderContent>
                Side
            </LayoutSiderContent>
        </LayoutSider>
        <Layout>
            <LayoutContent>
                <Button Color="Color.Success">Success</Button>
                <Button Color="Color.Warning">Warning</Button>
                <Button Color="Color.Primary">Primary</Button>
                <Button Color="Color.Secondary">Secondary</Button>
                <Button Color="Color.Default">Default</Button>
            </LayoutContent>
        </Layout>
    </Layout>
</Layout>

@code {
}
